{% extends "base.html" %}
{% load static %}

{% block page_header%}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Carousel for the homepage -->
<div class="row g-0">
    {% include 'includes/carousel.html' %}
</div>

<div class="body-content">
    <!-- Introduction to the site -->
    <h1 class="title text-center contentEnglish">Who are the Internation Education?</h1>
    <h1 class="title text-center contentArabic">Who are the Internation Education?</h1>
    <div class="row">
        <div class="col-12 text-center mb-3">
            <p class="introduction text-center contentEnglish">We are a team of bilingual professionals who
                specialise
                in the educatoin process within the United Kingdom. We have put over 3000+
                students in mutlitple different univesities across the country while assisting them in finding the
                appropriate accomodation that would suit there needs and requirements.
                <br>
                The main goal that drives us to be where we are today, is to ensure that all students have the
                opportunity to a better education of their choosing and
                and not allow english to be the barrier.
            </p>
            <p class="introduction text-center contentArabic">We are a team of bilingual professionals who
                specialise
                in the educatoin process within the United Kingdom. We have put over 3000+
                students in mutlitple different univesities across the country while assisting them in finding the
                appropriate accomodation that would suit there needs and requirements.
                <br>
                The main goal that drives us to be where we are today, is to ensure that all students have the
                opportunity to a better education of their choosing and
                and not allow english to be the barrier.
            </p>
        </div>
    </div>
</div>

{% endblock %}