{% extends "base.html" %}
{% load static %}

{% block page_header%}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Carousel for the homepage -->
<div class="row g-0">
    {% include 'includes/carousel.html' %}
</div>

<div class="body-content">
    <!-- Introduction to the site -->
    <h1 class="title text-center contentEnglish">Who are the Internation Education?</h1>
    <h1 class="title text-center contentArabic">شسيمبتاشسمب شسيباشسيب شيسباشسحيب ?</h1>
    <div class="row">
        <div class="col-12 text-center mb-3">
            <p class="introduction text-center contentEnglish">We are a team of bilingual professionals who
                specialise in the educatoin process within the United Kingdom. We have put over 3000+
                students in mutlitple different univesities across the country while assisting them in finding the
                appropriate accomodation that would suit there needs and requirements.
                <br>
                The main goal that drives us to be where we are today, is to ensure that all students have the
                opportunity to a better education of their choosing and not allow english to be the barrier.
            </p>
            <p class="introduction text-center contentArabic">نحن فريق من المهنيين ثنائيي اللغة الذين
                تخصص في عملية التعليم داخل المملكة المتحدة. لقد وضعنا أكثر من 3000+
                الطلاب في جامعات مختلفة متعددة في جميع أنحاء البلاد أثناء مساعدتهم في العثور على
                الإقامة المناسبة التي تتناسب مع الاحتياجات والمتطلبات.
                <br>
                الهدف الرئيسي الذي يدفعنا إلى أن نكون حيث نحن اليوم ، هو التأكد من أن جميع الطلاب لديهم
                فرصة لتعليم أفضل من اختيارهم و
                ولا نسمح للغة الإنجليزية أن تكون الحاجز.
            </p>
        </div>
    </div>
</div>

{% endblock %}