{% load static %}
{% csrf_token %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss%}
    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">

    <!--Personal Stytle sheet-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
    </script>

    <!-- Font Awesome-->
    <script src="https://kit.fontawesome.com/9b32562ec0.js" crossorigin="anonymous"></script>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
        integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>International Education {% block extra_title %}{% endblock %}</title>
    <!-- <a href="https://www.freestock.com/free-icons/vector-illustration-spiral-notebook-pencil-icon-574787797">Image used under license from Freestock.com</a>-->
    <!--This is for the favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon-logo.png' %}" />
</head>

<body>

    <!-- Lanugage switcher-->
    <header class="container-fluid fixed-top">
        <div class="row bg-white justify-content-end">
            <div class="col-auto">
                <nav class="navbar navbar-light w-100 languages">
                    <span class="en me-2">English</span>
                    <label class="switch"><input type="checkbox"><span class="slider round hide-off"></a></span></label>
                    <span class="ar ms-2">Arabic</span>
                </nav>
            </div>
        </div>

        <!-- Announcement Message Board-->
        <div id="announcement" class="row text-center">
            <div class="col bg-announcement text-white">
                <h4 class="logo-font my-1 text-uppercase content contentEnglish" id="contentEnglish">Consultation Half
                    Price this month!
                </h4>
                <h4 class="logo-font my-1 text-uppercase content contentArabic" id="contentArabic">
                    سيبشيبشسينمبامشسينتباشتنسم!</h4>
            </div>
        </div>

        <!-- The title for the site-->
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0 contentEnglish">International Education</h2>
                    <h2 class="logo-font text-black my-0 contentArabic">شخهشايهصخ</h2>
                </a>
            </div>
            <!-- Navigation bar -->
            {% include 'includes/main-nav.html' %}
            {% include 'includes/mobile-top-header.html' %}
        </div>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script>
        //To show and hide between english and arabic
        $(document).ready(function () {
            $(".switch input").on("change", function (e) {
                const isOn = e.currentTarget.checked;
                if (isOn) {
                    $(".contentArabic").show();
                    $(".contentEnglish").hide();
                } else {
                    $(".contentEnglish").show();
                    $(".contentArabic").hide();
                }
            });
        });
    </script>
    {% endblock %}

</body>

</html>